
<section class="intro">
    <article class="viaja">
        <span class="viaja">¡Viaja!</span>
        <span class="descubre">¡Descubre lugares maravillosos!</span>
        <a href="#">Ver destinos</a>
    </article>
</section>