
<section class="intro">
    <article class="viaja">
        <span class="viaja">¡Viaja!</span>
        <span class="descubre">¡Descubre lugares maravillosos!</span>
        <a href="#">Ver destinos</a>
    </article>
</section>

<section class="destinos">
    <article class="bloque beijing">
        <div class="destino">Beijing</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">359$</div>
    </article>
    <article class="bloque buenosAires">
        <div class="destino">Buenos Aires</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">250$</div>
    </article>
    <article class="bloque ciudadMexico">
        <div class="destino">Ciudad México</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">888$</div>
    </article>
    <article class="bloque madrid">
        <div class="destino">Madrid</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">741$</div>
    </article>
    <article class="bloque newYork">
        <div class="destino">New York</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">896$</div>
    </article>
    <article class="bloque Torrent">
        <div class="destino">Torrent</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">753$</div>
    </article>
</section>